<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
              
                <div class="col-md-7 p-0 card-right">
                    <div class="card tab2-card">
                        <div class="card-body">
                            <ngb-tabset class="tab-coupon mb-0">
                                <ngb-tab>
                                    <ng-template ngbTabTitle><i class="icon-user mr-2"></i>Login</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                                            <form [formGroup]="loginForm" (submit)="login($event)" class="form-horizontal auth-form">
                                                <div class="form-group">
                                                    <input formControlName="email" name="login[email]" type="email" class="form-control" placeholder="Email" id="exampleInputEmail1">
                                                    <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required" class="text text-danger row pl-4 pt-1">
                                                        <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                                                        </app-feather-icons>
                                                        <div>
                                                            {{validatorService.getErrorField(loginForm,'email', 'Email')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input formControlName="password" name="login[password]" type="password" class="form-control" placeholder="Password">
                                                    <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required" class="text text-danger row pl-4 pt-1">
                                                        <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                                                        </app-feather-icons>
                                                        <div>
                                                            {{validatorService.getErrorField(loginForm,'password','Password')}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-terms">
                                                    <div class="custom-control custom-checkbox mr-sm-2">
                                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                                        <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                                                        <a href="javascript:void(0)" class="btn btn-default forgot-pass">lost your
                                                            password</a>
                                                    </div>
                                                </div>
                                                <div class="form-button">
                                                    <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
                                                </div>

                                            </form>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

