<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card tab2-card">
        <div class="card-header">
          <h5> {{ renderValue }} </h5>
        </div>
        <div class="card-body tab2-card">
          <form [formGroup]="accountForm" appAutoFocusInvalidInput (submit)="save()" id="ngFormClient"
            class="needs-validation user-add">

              <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card">
      
                      <div class="  form-group">
                        <label for="validationCustom1" class="col-form-label pt-0"><span>*</span>
                          Name</label>
                        <input formControlName="nombre" class="form-control  " id="validationCustom1" type="text">
                        <div *ngIf="accountForm.controls.nombre.touched && accountForm.controls.nombre.errors?.required"
                          class="text text-danger row pl-4 pt-1">
                          <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                          </app-feather-icons>
                          <div>
                            {{validatorService.getErrorField(accountForm,'nombre','Name')}}
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="card">

                      <div class="  form-group">
                        <label for="validationCustom8" class="col-form-label pt-0"><span>*</span>
                          C.I.</label>
                        <input formControlName="cedula" class="form-control" id="validationCustom8" type="number" max="10">
                        <div *ngIf="accountForm.controls.cedula.touched && accountForm.controls.cedula.errors?.required"
                          class="text text-danger row pl-4 pt-1">
                          <app-feather-icons [icon]="'alert-circle'" class="align-items-center">
                          </app-feather-icons>
                          <div>
                            {{validatorService.getErrorField(accountForm,'cedula','C.I.')}}
                          </div>
                        </div>
                      </div>

                      
                    </div>
                  </div>
                </div>
              </div>

          </form>

          <div class="pull-right">
            <button type="submit" form="ngFormClient" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
