<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="form-group" style="padding: 0 2em;">
        <label class="col-form-label pt-0">
          Search Query </label>
        <input [(ngModel)]="paginationBase.searchQuery" class="form-control col-sm-10" type="text">
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="form-group" style="padding: 0 2em;">
        <label class="col-form-label pt-0">
          Order by </label>
        <input [(ngModel)]="paginationBase.sort" class="form-control col-sm-10" type="text">
      </div>
    </div>
  </div>
</div>

