<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 footer-copyright">
            <p class="mb-0">2022 © Ing. Daniel Salcedo Elizalde - Desarrollador Full stack Angular & .Net Multiplataforma </p>
        </div>
        <div class="col-md-6">
            <a href="http://wa.me/593983502183" target="_blank" class="p-1"><i class="fa fa-whatsapp fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/daniel-salcedo-elizalde-06936810b/" target="_blank" class="p-1"><i class="fa fa-linkedin-square fa-2x"></i></a>
            <a href="https://github.com/OnlixProg779/" target="_blank" class="p-1"><i class="fa fa-github fa-2x"></i></a>
        </div>
    </div>
</div>