<!-- Container-fluid starts-->

<div class="container-fluid">
    <div class="row">
  
      <div class="col-xl-3 col-md-6 xl-50">
        <div class="card o-hidden  widget-cards">
          <a [routerLink]="['/deposits/create-deposit']" class="bg-secondary card-body">
            <div class="media static-top-widget row">
              <div class="icons-widgets col-4">
                <div class="align-self-center text-center">
                  <app-feather-icons [icon]="'dollar-sign'" class="font-primary"></app-feather-icons>
                </div>
              </div>
              <div class="media-body col-8">
                <h4 class="m-0">New Deposit</h4>
                <!-- <h3 class="mb-0">$ <span class="counter" [CountTo]="9856" [from]="0" [duration]="2">9856</span><small> This Month</small></h3> -->
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 xl-50">
        <div class="card o-hidden widget-cards">
          <a [routerLink]="['/purchases/create-purchase', clientId]" class="bg-info card-body">
            <div class="media static-top-widget row">
              <div class="icons-widgets col-4">
                <div class="align-self-center text-center">
                  <app-feather-icons [icon]="'archive'" class="font-warning"></app-feather-icons>
                </div>
              </div>
              <div class="media-body col-8">
                <h4 class="m-0">Add Purchase</h4>
                <!-- <h3 class="mb-0">$ <span class="counter" [CountTo]="6659" [from]="0" [duration]="2">6659</span><small> This Month</small></h3> -->
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xl-12">
        <app-list-smart-generic [settings]="optionsClient.settings" [source]="optionsClient.source" [totalCount]="optionsClient.totalCount" [showPerPage]="optionsClient.showPerPage"></app-list-smart-generic>
      </div>     
    </div>
  </div>
  <!-- Container-fluid Ends-->
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title f-w-600" id="exampleModalLabel"><strong>New Account</strong></h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
      <div class="card">
        <div class="card-body p-0">
  
          <!-- INICIO -->
  
         <app-form-create-cuenta-ahorro></app-form-create-cuenta-ahorro>
  

          <!-- FIN -->
  
        </div>
      </div>
  
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-primary" (click)="modal.dismiss('accept')" ngbAutofocus>Accept</button> -->
      <button class="btn btn-secondary" type="button" data-dismiss="modal"
        (click)="modal.dismiss('Cross click')">Close</button>
    </div>
  </ng-template>
  